button {
  border: none;
  background-color: rgb(115, 113, 122);
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: rgb(15, 113, 122);
}

.result {
  background-color: rgb(243, 61, 29);
}

.result:hover {
  background-color: rgb(228, 39, 15);
}
